<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Funktionen auswählen</title>
</head>
<body>

<h1>RoomMate Admin Panel</h1>
<h2>Arbeitsplatzübersicht</h2>
<table border="1">
    <thead>
    <tr>
        <th>ArbeitsplatzID</th>
        <th>Ausstattung</th>
        <th>Raumnummer</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop durch die Raumobjekte im Modell -->
    <tr th:each="arbeitsplatz : ${arbeitsplaetze}">
        <td th:text="${arbeitsplatz.getId()}"></td>
        <td>
            <ul>
                <li th:each="ausstattung : ${arbeitsplatz.getAusstattung()}" th:text="${ausstattung}"></li>
            </ul>
        </td>
        <td th:text="${arbeitsplatz.getRaumnummer()}"></td>
        <td>
            <button type="submit">
                <a th:href="@{/admin/{arbeitsplatzId}(arbeitsplatzId=${arbeitsplatz.getId()})}">Ausstattung bearbeiten</a>
            </button></td>
    </tr>
    </tbody>
</table>

<table border="1">
    <thead>
    <tr>
        <th>BuchungsID</th>
        <th>Benutzer</th>
        <th>Datum</th>
        <th>Uhrzeit</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop durch die Raumobjekte im Modell -->
    <tr th:each="buchung : ${alleBuchungen}">
        <td th:text="${buchung.getId()}"></td>
        <td>
            <ul>
                <li th:text="${buchung.getBenutzer()}"></li>
            </ul>
        </td>
        <td th:text="${buchung.getLocalDate()}"></td>
        <td>
            <span th:text="${buchung.getAnfang()}"></span>
            <span> bis </span>
            <span th:text="${buchung.getEnde()}"></span>
        </td>

        </td>
        <td>
            <button type="submit">
                <a href="/admin">BuchungLöschen</a>
            </button></td>
    </tr>
    </tbody>
</table>

</body>
</html>