<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titel}">Buchung</title>
</head>
<body>
<h1>Wann möchten Sie den Arbeitsplatz buchen?</h1>
<form method="post" th:object="${form}">
    <label for="datum">Datum:</label>
    <input type="date" id="datum" name="datum" required>
    <small class="text-danger" th:if="${#fields.hasErrors('datum')}" th:errors="*{datum}">Fehler!</small>

    <label for="anfang">Von:</label>
    <input type="time" id="anfang" name="anfang" required>
    <small class="text-danger" th:if="${error != null}" th:text="${error}">Fehler!</small>


    <label for="ende">Bis:</label>
    <input type="time" id="ende" name="ende" required>

    <small class="text-danger" th:if="${buchungsError != null}" th:text="${buchungsError}">Fehler!</small>

    <input type="hidden" name="id" th:value="${platzId}">

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <button type="submit">Buchen</button>

    <h2 th:if="${freieSlots}">Freie Slots an dem Tag</h2>
    <ol th:if="${freieSlots}">
        <li th:each="slots : ${freieSlots}" th:text="${slots}">Freie Slots</li>
    </ol>
</form>

</body>
</html>