<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Platzsuche</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Filter</h1>
    <form action="">
        <label for="usbc">USBC-Anschluss</label>
        <input type="checkbox" id="usbc" name="usbc"> <br>
        <label for="wlan">WLAN</label>
        <input type="checkbox" id="wlan" name="wlan"> <br>
        <label for="Raumnummer">Raumnummer:</label>
        <input type="number" id="Raumnummer" name="Raumnummer"> <br>
        <input type="submit" value="Suchen">
    </form>
    <br>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Arbeitsplätze</th>
            <th>Ausstattung</th>
            <th>Raumnummer</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop durch die Raumobjekte im Modell -->
        <tr th:each="arbeitsplatz : ${arbeitsplatzList}">
            <td th:text="${arbeitsplatz.getId()}"></td>
            <td>
                <ul>
                    <li th:each="ausstattung : ${arbeitsplatz.getAusstattung()}" th:text="${ausstattung}"></li>
                </ul>
            </td>
            <td th:text="${arbeitsplatz.getRaumnummer()}"></td>
            <td>
                <button type="submit">
                    <a th:href="@{/user/{arbeitsplatzId}(arbeitsplatzId=${arbeitsplatz.getId()})}">Buchen</a>
                </button></td>
        </tr>
        </tbody>
    </table>

</body>
</html>