<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Platzsuche</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></head>
<body>
<div class="container">
    <h1>Filter</h1>
    <form action="" class="mb-4">
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="usbc" name="usbc">
                <label class="custom-control-label" for="usbc">USBC-Anschluss</label>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="wlan" name="wlan">
                <label class="custom-control-label" for="wlan">WLAN</label>
            </div>
        </div>
        <div class="form-group">
            <label for="Raumnummer">Raumnummer:</label>
            <input type="number" class="form-control" id="Raumnummer" name="Raumnummer">
        </div>
        <button type="submit" class="btn btn-primary">Suchen</button>
    </form>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Arbeitsplätze</th>
            <th>Ausstattung</th>
            <th>Raumnummer</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop durch die Raumobjekte im Modell -->
        <tr th:each="arbeitsplatz : ${arbeitsplatzList}">
            <td th:text="${arbeitsplatz.getId()}"></td>
            <td>
                <ul>
                    <li th:each="ausstattung : ${arbeitsplatz.getAusstattung()}" th:text="${ausstattung}"></li>
                </ul>
            </td>
            <td th:text="${arbeitsplatz.getRaumnummer()}"></td>
            <td>
                <form th:action="@{/user/{arbeitsplatzId}(arbeitsplatzId=${arbeitsplatz.getId()})}" method="get">
                    <button type="submit" class="btn btn-success">Buchen</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>